@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />
<form asp-action="Delete">
    <div class="form-group">
        <label asp-for="Code" class="col-form-label"></label>
        <br />
        <input asp-for="Code" class="form-control" readonly />

    </div>
    <br />
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <br />
        <input asp-for="Name" class="form-control" readonly />

    </div>
    <br />

    <div class="form-group">
        <label asp-for="DateOfCreation" class="col-form-label"></label>
        <br />
        <input asp-for="DateOfCreation" class="form-control" readonly />
    </div>
    <br />
    <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>


</form>

