@model Employee
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <br />
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <br />
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <br />
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <br />
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <br />
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <br />
    <input asp-for="PhoneNumber" class="form-control" />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="IsActive" class="col-form-label"></label>
    <br />
    <input asp-for="IsActive" class="form-control" />
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
<br />
<div class="form-group">
    <label asp-for="HiringDate" class="col-form-label"></label>
    <br />
    <input asp-for="HiringDate" class="form-control" />
    <span asp-validation-for="HiringDate" class="text-danger"></span>
</div>
<br />

<div class="form-group">
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <br />
    <input asp-for="DateOfCreation" class="form-control" />
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
