@model RoleViewModel

<div class="form-group">
    <label asp-for="RoleName" class="col-form-label"></label>
    <br />
    <input asp-for="RoleName" class="form-control" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>
<br />




@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
