@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>
<br />
<br />
<form asp-action="Delete" >
    <partial name="PartialView/DetailsDeleteView" model="Model"></partial>
    <input hidden asp-for="ImageName" />
    <br />
    <input type="submit" class="btn btn-danger" value="Delete" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>


</form>

