@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />
<div>
    <div class="form-group">
        <partial name="PartialView/DetailsDeleteView" model="Model"></partial>
    <br />
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</div>

